.carousel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350;
    height: 600;
}

.slide{
    border-radius: 0.2rem;
    box-shadow: 0 0 7px #032b47;
    width: 100vw;
    height: 100vh;
}

.back{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.audio{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}